<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61392453078-sbfbmc31o4o7mi1fhjnfa5i5inbpldcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61392453078-sbfbmc31o4o7mi1fhjnfa5i5inbpldcm</string>
	<key>API_KEY</key>
	<string>AIzaSyB1tkVWhoOv8IUuPQjcTBZxaGwJej4PCHk</string>
	<key>GCM_SENDER_ID</key>
	<string>61392453078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messageApp</string>
	<key>PROJECT_ID</key>
	<string>message-app-3e623</string>
	<key>STORAGE_BUCKET</key>
	<string>message-app-3e623.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61392453078:ios:0b424a5a953bcf18113877</string>
</dict>
</plist>